/* Estilo general */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;  /* Para asegurar que el body ocupe al menos toda la altura de la ventana */
}

/* Estilo del encabezado */
header {
    background: #007BFF;
    color: white;
    padding: 15px 0;
    text-align: center;
    position: fixed;  /* Fija el header en la parte superior */
    top: 0;          /* Alinea el header en la parte superior */
    left: 0;         /* Alinea el header a la izquierda */
    right: 0;        /* Alinea el header a la derecha */
    z-index: 1000;   /* Asegura que el header esté por encima de otros elementos */
}

/* Estilo de navegación */
nav {
    margin: 10px 0;
}

nav a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

/* Estilo del contenido principal */
main {
    padding: 20px;
    background-color: white;
    margin: 70px auto;  /* Añadir margen superior para evitar que el contenido se superponga al header */
    max-width: 800px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex: 1; /* Permite que el main ocupe el espacio restante entre el header y el footer */
}

/* Estilo del pie de página */
footer {
    background: #f1f1f1;
    text-align: center;
    padding: 10px;
    position: relative;  /* Permite que el footer se mantenga al final del contenido */
    width: 100%;
}