/* Estilo general */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;  /* Evita la barra de desplazamiento horizontal */
}

/* Estilo del encabezado */
header {
    background: #00ffff;
    color: white;
    padding: 15px;  /* Asegúrate de que este padding sea suficiente */
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

/* Estilo del contenido principal */
main {
    padding: 20px;
    background-color: white;
    margin: 120px auto;  /* Ajustar este margen si es necesario */
    max-width: 90%;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex: 1;
}

/* Estilo del pie de página */
footer {
    background: #f1f1f1;
    text-align: center;
    padding: 10px;
    width: 100%;
}

/* Media Queries para Responsividad */
@media (max-width: 768px) {
    header {
        padding: 10px;
    }

    main {
        margin: 100px auto; /* Ajustar margen superior en pantallas más pequeñas */
        padding: 15px;
    }
}

@media (max-width: 480px) {
    header {
        padding: 10px; /* Ajustar para pantallas muy pequeñas */
    }

    main {
        margin: 80px auto; /* Ajustar margen superior para pantallas pequeñas */
        padding: 10px;
    }
}