{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<h2>Login</h2>

{% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
        <ul class="flashed-messages">
        {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

<form method="POST" action="{{ url_for('login') }}">
    {{ form.hidden_tag() }}  <!-- Para el manejo de CSRF -->
    <div>
        <label for="username">Username</label>
        {{ form.username(size=32, class='form-control') }}
        {% if form.username.errors %}
            <ul>
                {% for error in form.username.errors %}
                    <li class="error">{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    <div>
        <label for="password">Password</label>
        {{ form.password(size=32, class='form-control') }}
        {% if form.password.errors %}
            <ul>
                {% for error in form.password.errors %}
                    <li class="error">{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    <div>
        {{ form.submit(class='btn btn-primary') }}
    </div>
</form>

<p><a href="{{ url_for('reset_password') }}">¿Olvidaste tu contraseña?</a></p>

{% endblock %}